<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebApplication1.SiteMaster" %>

<!DOCTYPE html>

<html lang="ru">
<head runat="server">

    <title><%: Page.Title %> - Мое приложение ASP.NET</title>


</head>
<body>
         <div><asp:contentplaceholder id="MainContent" runat="server" /></div>
</body>
</html>
